---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.6
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: check-case-conflict
      - id: check-symlinks
      - id: pretty-format-json
        args:
          - --autofix

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy (Python 3.10)
        language_version: python3.10
      - id: mypy
        name: mypy (Python 3.11)
        language_version: python3.11
      - id: mypy
        name: mypy (Python 3.12)
        language_version: python3.12

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
        # args: [--config-data=relaxed]
